################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.svn
/.vs/nwol/v14
/nwoe
/quatris
/nwol.VC.VC.opendb
/nwol.VC.db
/test2/x64/Debug
/test
/test2
/x64/Debug
