################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.svn
/.vs/nwol/v14
/nwoe
/quatris
/nwol.VC.VC.opendb
/nwol.VC.db
