################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.svn
/.vs/nwol/v14
/nwoe
/quatris
/nwol.VC.VC.opendb
/nwol.VC.db
/test2/x64/Debug
/test
/test2
/x64/Debug
/.vs/nwol/v15/Solution.VC.db-wal
/.vs/nwol/v15/Solution.VC.db-shm
/.vs/nwol/v15/Solution.VC.db
/.vs/nwol/v15/Browse.VC.db
/.vs/nwol/v15/Solution.VC.db-wal
/.vs/nwol/v15/Solution.VC.db-shm
/.vs/nwol/v15/Solution.VC.db
/.vs/nwol/v15/Browse.VC.db
/.vs/nwol/v15/ipch/AutoPCH/NWOL-9d51ff36/ASCII_SCREEN-6c58fcf5
/.vs/nwol/v15
/Debug/android_nwol.log
/nwol/runtime_module.i
/nwol/ClassDiagram.cd
/nwol/ClassDiagram.cd
/Lines_2017_5_14_16_46.txt
/Lines_2017_5_16_18_6.txt
